.header__circle{
    
    width: 87px;
    margin: 145px 0 110px 72px;
    z-index: 3;

    ;
}

@media screen and (min-width: 1440px){
    .header__circle{
        width: 208px;
        margin: 395px 460px 0 0;
    } 
    
  }