.header__price-line{
    position: absolute;
    width: 38px;
    top: 56px;
    left: 172px;
    z-index: 1;
}

@media screen and (min-width: 1440px){
    .header__price-line{
        width: 46px;
        top: 75px;
        left: 239px;
        z-index: 1;
    } 
    
  }