.benefits{
    width: 311px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 34px 0;
    margin: 0 auto 0;
 
}

@media screen and (min-width: 1440px){
  .benefits{
    width: 874px;
    justify-content: flex-start;
    align-items: flex-start;
   /* margin: 0 auto 0;*/
    padding: 0 60px 34px 16px;
       
    }
 }