
@media screen and (min-width: 1200px){
    .header__title_og{
        width: 420px;
        height: 196px;
        font-size: 72px;
        line-height: 72px;
        margin: 34px 0 0 0;
        z-index: 2;
    } 
    
}