.benefits__container{
   /* display: grid;
    width: 311px;
    grid-template-columns: 81px auto;*/
    /* grid-template-rows: 83px min-content auto min-content; */
   /* grid-template-rows: 89px 95px 81px 98px;
    height: min-content;
    gap: 24px 16px;
    align-items: center;
    justify-items: center;
    margin: 23px 0 0 0;*/
   
    display: grid;
    width: 311px;
    grid-template-columns: 311px;
    grid-template-rows: 90px 92px 84px 95px;
    height: min-content;
    gap: 24px;
    align-items: center;
    justify-items: center;
    margin: 23px 0 0 0;}


@media screen and (min-width: 1440px){
    .benefits__container{
         width: 100%;
         grid-template-columns: 366px auto;
         grid-template-rows: 215px min-content;
         align-items: start;
         justify-content: start;
         gap:61px 112px;
         margin:-4px 0 0 0;
     }
  }