.event__container{
    display: grid;
    width: 343px;
    grid-template-columns: 343px;
    grid-template-rows: 343px;
    box-sizing: border-box;
    margin: 43px -16px 0 -16px;
   /* gap: 20px;*/
   overflow: hidden;
}

