.join__plus{
    display: none;
}

@media screen and (min-width: 1440px){
    .join__plus{
        position: relative;
        width: 400px;
        display: flex;
        flex-direction: row;
        align-items: center;
    
    }   
}