.event{
    position: relative;
   /* width: 100%;
    margin: 0 auto 0;
    padding: 0 0 21px 0;
*/

    display: flex;
    flex-direction: column;
    margin: 0 auto 0;
    width: 311px;
}

@media screen and (min-width: 1440px){
    .event{
        width: 874px;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 87px auto 0;
        padding: 0 60px 33px 16px;
         
      }
   }