.join__ellips{
    position: absolute;
}

@media screen and (min-width: 1440px){
    .join__ellips{
        position: absolute;
        width: 600px;
        top: -139px;
        left: 81px;
        z-index: -5;

    
    } 
}