.header__container{
    position: relative;
    display: flex;
    width: 311px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto 0;
   
}


.header__container::after{
    display: none;
}

.header__container::before {
    content: "";
    background-image: url(../../../img/main_scooter.png);
    background-size: cover;
    width: 353px;
    height: 307px;
    position: absolute;
    top: 290px;
    left: -28px;;
  
}



@media screen and (min-width: 1440px){
    .header__container{
        width: 1440px;
        flex-direction: row;
        justify-content: space-between;
      
    }

    .header__container::after{
        display: block;
        content: "";
        position: absolute;
        width: 657px;
        height: 401px;
        top: 200px;
        left: 500px;
        opacity: 0.5;
        transform: rotate(-140deg);
        border-radius: 328px/200px;
        background-color: #8241EF;
        filter: blur(100px);
        box-shadow: 0px 0px 100px 0px #8241EF;
        z-index: 0
    } 
    
    .header__container::before {
        content: "";
        /* background-image: url(../../img/main_scooter.png); */
        width: 820px;
        height: 636px;
        top: 46px;
        right: 0;
        left: 544px;
        bottom: 0;
        z-index: 1;
    }
    
  }






  

