.benefits__item-text{
    width: 210px;
    font-family: 'YS Text-medium','Arial', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
  margin: -2px 0 0 0;


}

@media screen and (min-width: 1440px){
    .benefits__item-text{
        width: 100%;
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;

     }
  }